.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 25px;
    margin: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translate(0);
    transition: 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1.05);
}

.card-container img {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Type Coloring */

.bug-type {
    background-color: #A8B820;
}
.dark-type {
    background-color: #705848;
}
.dragon-type {
    background-color: #7038F8;
}
.electric-type {
    background-color: #F8D030;
}
.fairy-type {
    background-color: #EE99AC;
}
.fighting-type {
    background-color: #C03028;
}
.fire-type {
    background-color: #F08030;
}
.flying-type {
    background-color: #A890F0;
}
.ghost-type {
    background-color: #705898;
}
.grass-type {
    background-color: #78C850;
}
.ice-type {
    background-color: #98D8D8;
}
.normal-type {
    background-color: #A8A878;
}
.poison-type {
    background-color: #A040A0;
}
.psychic-type {
    background-color: #F85888;
}
.rock-type {
    background-color: #B8A038;
}
.steel-type {
    background-color: #B8B8D0;
}
.water-type {
    background-color: #6890F0;
}
.ground-type {
    background-color: #E0C068;
}
